@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family: "inter", sans-serif;
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 0.4rem;
  }
   ::-webkit-scrollbar-track {
    background: #d1d5db;
  }
  ::-webkit-scrollbar-thumb {
    background: #4b5563;
  }
